body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

h1{
    margin-top: 0;
    font-size: 5rem;
    font-weight: 500;
    color: #333;
    white-space: nowrap;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

input {
    outline: none;
    border: none;
    border-bottom: 2px solid #333;
    position: absolute;
    top: 20%;
    width: 50%;
    background: transparent;
    margin: -30px 0 10px 0;
}

input[placeholder]{
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

input:focus,
input:hover{
    border-bottom-color:rgb(0, 38, 255);
}

div {
    position: absolute;
    top: 25%;
    left: 0;
    border: 1px solid black;
    width: 100vw;
    height: 50vh;
    background: #191919;
    color: #f5f6f7;
    font-size: 4rem;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (max-width: 768px){
    h1{
        margin-top: 10px;
        font-size: 2rem;
    }

    input{
        font-size: 1rem;
        margin-top: -100px;
        width: 80%;
    }

    div{
        font-size: 2rem;
        margin-top: -100px;
    }
}

@media (max-width: 1140px){
    h1{
        margin-top: 10px;
        font-size: 2rem;
    }

    input{
        font-size: 1rem;
        margin-top: -100px;
        width: 70%;
    }

    div{
        font-size: 2rem;
        margin-top: -100px;
    }
}